#!/bin/sh
# An example for building particular combinations of VTK with
# - off-screen mesa

vtk=vtk-7.1.0
mesa=mesa-11.2.2
# mesa=mesa-13.0.2

./makeVTK \
    $vtk \
    -osmesa \
    -mesa-prefix $WM_THIRD_PARTY_DIR/platforms/$WM_ARCH$WM_COMPILER/$mesa \
    "$@"

#------------------------------------------------------------------------------
