#!/bin/sh
# An example for building a particular combinations of VTK with off-screen mesa

vtk=vtk-7.1.0
mesa=mesa-11.2.2

./makeVTK \
    $vtk \
    -osmesa \
    -mesa-prefix $WM_THIRD_PARTY_DIR/platforms/linux64Gcc/$mesa \
    "$@"

#------------------------------------------------------------------------------
